    
        body{
            display:flex;
            justify-content:center;
        }
         #card{
            transform-style: preserve-3d;
            display: flex;
            justify-content: center;
            transition: all .5s;
        }
        .face {
width: 100px;
height: 100px;

display:flex;
            justify-content:center;
            align-items: center;
            color: white;
            position: absolute;
        }
        #front{
            background-color: rgb(61, 117, 117);
            transform: rotateY(180deg);
        }
        #back{
            background-color: blue;
            backface-visibility: hidden;
        }
        .flip{
 transform: rotateY(180deg);
        } 
        .hover{
            transform: rotateY(180deg);
        }